[submodule "image-verification-avs/lib/forge-std"]
	path = image-verification-avs/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "image-verification-avs/lib/eigenlayer-middleware"]
	path = image-verification-avs/lib/eigenlayer-middleware
	url = https://github.com/Layr-Labs/eigenlayer-middleware
